<h1 id="tableLabel">Incoming Messages</h1>

<p>Fetching data from the server.</p>

<p *ngIf="!data"><em>Loading...</em></p>

Data

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="data">
  <thead>
    <tr>
      <th>ID</th>
      <th>USER</th>
      <th>MESSAGE</th>
      <th>DATE</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let message of data">
      <td>{{ message.messageId}}</td>
      <td>{{ message.user }}</td>
      <td>{{ message.message }}</td>
      <td>{{ message.dateOfEntry }}</td>
    </tr>
  </tbody>
</table>
