
<div class="main">
  <h1>Status of Chair in Repair</h1>


  <app-button text="Add" color="green" (btnClickEvent)="addEntry()"></app-button>
  <app-button text="Remove" color="coral" (btnClickEvent)="removeEntry()"></app-button>
  <app-button text="View Archived" color="blue" (btnClickEvent)="viewArchivedEntries()"></app-button>
  <app-button text="Clear" color="silver" (btnClickEvent)="clearEntries()"></app-button>

  <div class="block">
    Who: <input mat-input [(ngModel)]="userData" placeholder="user" (keyup)="updateUser()"/>
    What: <input mat-input [(ngModel)]="eventData" placeholder="event" (keyup)="updateEvent()"/>
  </div>
  

  <app-data-display title="Current Repairs" [showDisplay]="true" [data]="messageData"></app-data-display>
  <app-data-display title="Archived Logs" [showDisplay]="showArchived" [data]="messageData"></app-data-display>



</div>