<h1>Entry Master</h1>


<app-button text="Add" color="green" (btnClickEvent)="addEntry()"></app-button>
<app-button text="Remove" color="coral" (btnClickEvent)="removeEntry()"></app-button>
<app-button text="View Archived" color="blue" (btnClickEvent)="viewArchivedEntries()"></app-button>
<app-button text="Clear" color="silver" (btnClickEvent)="clearEntries()"></app-button>


<div class="box">
  <h3>Log Entries</h3>
  <div *ngFor="let m of messages.getMessages()">
    {{m.id}}: {{m.user}}: {{m.text}} [{{m.date}}]
    </div>
</div>

<div class="box" *ngIf="showArchived">
  <h3>Archived Logs</h3>
  <div *ngFor="let a of messages.getArchived()">
    <div class="archived_entry">{{a.id}}: {{a.user}}: {{a.text}} [{{a.date}}]</div>
    </div>
</div>
